@use "@/styles/mixins";

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.returnButton {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  z-index: 9999;
  transform: translateY(100px);
  transition: transform 0.2s;

  &.visible {
    transform: translateY(0px);
  }

  color: var(--main-color);
  width: 25px;
  height: 25px;

  @include mixins.tablet {
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    width: 50px;
    height: 50px;
  }

  &:hover {
    svg {
      animation: bounce 0.3s ease-in-out;
      // transform: translateY(-10px);
      color: var(--shadow-color);
    }
  }

  svg {
    width: 100%;
    height: auto;
  }
}
