@use "@/styles/mixins";

.filtersContainer {
  padding: 1rem 0;
  .filtersList {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.2rem;

    .filterButton {
      padding: 4px 8px;
      color: var(--main-color);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      font-weight: bold;

      @include mixins.hover {
        background-color: var(--color-background-light);
      }

      &.selected {
        text-decoration: underline;
      }
    }
  }

  .clearButton {
    text-align: center;

    button {
      font-weight: bold;
      opacity: 0.2;
      pointer-events: none;
      padding: 0.3rem;

      &.active {
        pointer-events: all;
        opacity: 1;
        color: var(--main-color);

        @include mixins.hover {
          background-color: var(--color-background-light);
        }
      }
    }
  }
}
