@use "@/styles/mixins";

.navBg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  .navContainer {
    height: 3rem;
    background-color: var(--color-background);
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-bottom: 1px solid var(--main-color);
    text-wrap: nowrap;

    a {
      color: var(--main-color);

      @include mixins.hover {
        color: var(--shadow-color);
      }

      &.active {
        text-shadow: 1px 1px 0px var(--shadow-color);
        text-decoration: underline;
        text-decoration-thickness: 2px;

        @include mixins.hover {
          color: var(--main-color);
        }
      }
    }

    .logo {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .resume {
      background-color: var(--main-color);
      color: #000;
      padding: 0.2rem 0.6rem;
      border-radius: 5px;
      font-size: 1rem;
      font-weight: 600;
      transition: all 0.5 ease-in-out;
      display: inline-block;

      @include mixins.hover {
        box-shadow: 4px 4px 0px var(--shadow-color);
        color: #000;
      }

      .short {
        display: inherit;
      }
      .long {
        display: none;
      }
    }
  }
}

@include mixins.tablet {
  .navBg {
    .navContainer {
      font-size: 1.2rem;

      .resume {
        .short {
          display: none;
        }
        .long {
          display: inherit;
        }
      }
    }
  }
}

@include mixins.desktop {
  .navBg {
    .navContainer {
      height: 4rem;
      max-width: 900px;
      margin: auto;
    }
  }
}
